* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}
body{
    overflow-x: hidden;
}
.main {
    height: 100%;
    width: 100%;
    background: url(https://live.staticflickr.com/2009/32787294672_3e302486b6_b.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
    color: aliceblue;

}

.nav i {
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
}

.full {
    height: 100%;
    width: 30%;
    position: absolute;
    background-color: #ffffff30;
    top: 0;
    right: -30%;
    backdrop-filter: blur(8px);
    padding: 40px 20px;
}

.full h4 {
    font-size: 20px;
    font-weight: 100;
    padding: 6px 4px;
    text-transform: capitalize;
    border-bottom: 1px solid #f5f5f5b7;
}
.full i{
    position: absolute;
    top: 3%;
    right: 10%;
    cursor: pointer;
    font-size: 20px;
    border-radius: 50%;
    font-weight: 600;
    background-color: #ffffffc5;
}
::-webkit-scrollbar {
    display: none;
}